app:
  users: 
    root: {{rootUser}}
    admins: {{adminUsers}}
  datasource:
    schema: {{module.name}}
  cors:
    origins: "http://localhost:*,https://*.{{project.domain}},https://{{project.domain}}"
  env:
    host: {{module.name}}-api.{{project.domain}}
  uris:
    public: "/,/app/**,/public/**,/pub/**,/v3/api-docs/**,/swagger-ui/**,/index.html,/error,/favicon.ico"

spring:
  application:
    name: {{module.name}}-api

springdoc:
  swagger-ui:
    defaultModelsExpandDepth: 0
    tagsSorter: alpha
    operationsSorter: method
    tryItOutEnabled: true
    filter: true
    doc-expansion: none

server:
  port: 8080

logging:
  level:
    {{javaPackageFull}}: INFO
    org.springframework: INFO