app:
  users: 
    root: {{rootUser}}
    admins: {{adminUsers}}
  datasource:
    schema: {{module.name}}
  cors:
    origins: "http://localhost:*,https://*.{{project.domain}},https://{{project.domain}}"
  env:
    host: {{module.name}}-api.{{project.domain}}
  uris:
    public: "/,/app/**,/public/**,/pub/**,/v3/api-docs/**,/swagger-ui/**,/index.html,/error,/favicon.ico"
  security:
    jwt-secret-key: ${SPRING_ENV_JWT_SECRET_KEY:default-jwt-secret}
    api-key: ${SPRING_ENV_API_KEY:default-api-key}
    encryption-key: ${SPRING_ENV_ENCRYPTION_KEY:default-encryption-key}
    stripe:
      standard: ${SPRING_ENV_STRIPE_STANDARD:default-stripe-standard-key}
      restricted: ${SPRING_ENV_STRIPE_RESTRICTED:default-stripe-restricted-key}
  auth0:
    domain: {{auth0Domain}}
    audience: {{auth0Audience}}
    client-id: {{auth0ClientId}}
    client-secret: ${ENV_{{moduleEnvName}}_AUTH0_SECRET}
    jwt:
      issuer-uri: https://{{auth0Domain}}
      audiences:
        - {{auth0Audience}}
      role:
        claim:
          key: https://{{module.name}}-api.{{project.domain}}/roles

spring:
  application:
    name: {{module.name}}-api

  datasource:
    name: ${SPRING_ENV_DB_NAME:{{module.name}}-db}
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_ENV_DB_USERNAME:{{module.name}}-user}
    password: ${SPRING_ENV_DB_PASSWORD:{{module.name}}-pwd}
    host: ${SPRING_ENV_DB_HOST:localhost}
    port: ${SPRING_ENV_DB_PORT:5432}
    url: jdbc:postgresql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.name}?currentSchema=${app.datasource.schema}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: ${app.datasource.schema}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://{{auth0Domain}}
          audiences:
            - {{auth0Audience}}

springdoc:
  swagger-ui:
    defaultModelsExpandDepth: 0
    tagsSorter: alpha
    operationsSorter: method
    tryItOutEnabled: true
    filter: true
    doc-expansion: none

server:
  port: 8080

logging:
  level:
    {{project.domain}}.{{module.name}}: DEBUG
    org.springframework.security: DEBUG