package {{javaPackageFull}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{projectNameCapitalized}}Application {
    public static void main(String[] args) {
        SpringApplication.run({{projectNameCapitalized}}Application.class, args);
    }
}